<h1>Tiny Playground : Simple online IDE</h1>


  <div class="inner-controls">
    <!-- <span> -->
      <select [(ngModel)]="selectedLanguage" [disabled]="selectedLanguage" (onModelChange)="changeModelValues()">
        <option *ngFor="let c of langsAllowed" [ngValue]="c">{{c.name}}</option>
     </select>

    <!-- </span> -->
    <span><button (click)="saveBteArray()">Download</button></span>
    <span><button (click)="executeCode()">RUN</button></span>
  </div>


  <div>
      <ngs-code-editor
    [theme]="theme"
    [codeModel]="codeModel"
    [options]="options"
    (valueChanged)="onCodeChanged($event)">
  </ngs-code-editor>

  

  </div>

